<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- sometimes variables are defined outside of the server, locals object refers to values inside render function-->
    <h1>Hello <%= locals.text || "default" %> </h1>
</body>
</html>